.contactContainer {
  background-color: var(--background-color);
  min-height: 100vh;
  min-width: 350px;
  font-family: var(--primary-font);
}

.headerContent {
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  text-align: center;
  padding: var(--spacing-xl) var(--spacing-medium);
}

.headerContent h1 {
  font-size: var(--xl-font);
  margin-bottom: var(--spacing-small);
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.headerContent p {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.7;
}

.mainContent {
  padding: var(--spacing-xl) var(--spacing-large);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  gap: var(--spacing-xl);
  padding: var(--spacing-xl);
  font-family: var(--primary-font);
}

.formSection {
  flex-basis: 50%;
}

.formSection h2 {
  font-size: var(--large-font);
  color: var(--text-color);
  /* padding-left: var(--spacing-small); */
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.formSection h2::after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--secondary-background-color);
  display: block;
  margin: 0.5rem 0.25rem;
  border-radius: 2px;
}

.formSection p {
  padding: var(--spacing-medium) 0;
  padding-left: var(--spacing-small);
}

.formContainer {
  max-width: 600px;
  margin: 0 auto;
}

.infoSection {
  height: 100%;
  background: linear-gradient(
    to top,
    var(--secondary-background-color) 0%,
    var(--navbar-background) 100%
  );
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-large);
  border-radius: var(--border-radius-medium);
  flex-basis: 50%;
  margin: 0 auto;
  margin-top: 90px;
}

.infoSection h2 {
  margin-bottom: var(--spacing-large);
  color: var(--secondary-text-color);
}

.infoSection ul {
  height: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.infoSection a {
  color: var(--secondary-text-color);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .mainContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xl) var(--spacing-medium);
  }
  .formSection h2{
    text-align: center;
  }
  .formSection h2::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: var(--secondary-background-color);
    display: block;
    margin: 0.5rem auto 1.5rem;
    border-radius: 2px;
  }

  .formContainer,
  .infoSection {
    flex-basis: 100%;
  }
  .formContainer {
    padding: var(--spacing-medium);
  }
  .infoSection {
    width: 75%;
    margin-top: 0;
  }
}
@media screen and (max-width: 550px) {
  .mainContent {
    padding: var(--spacing-large) var(--spacing-medium);
  }
  .infoSection {
    width: 90%;
  }
}
