.formContainer {
  width: 100%;
  background-color: var(--card-bg);
  color: var(--text-color);
  padding: var(--spacing-large);

  border: 1px solid var(--form-border);
  box-shadow: var(--form-shadow);

  border-radius: var(--border-radius-large);
  font-family: var(--primary-font);
  transition: box-shadow 0.3s ease, border 0.4s ease;
}

.form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.inputWrapper {
  position: relative;
  width: 100%;
}
.inputGroup {
  color: var(--secondary-text);
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.inputWrapper input,
textarea {
  background-color: transparent;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  font-size: var(--base-font);
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  padding: 0.5rem 0px;
  transition: border-color 0.3s;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}
.inputWrapper input {
  padding: 4px;
}

.inputWrapper textarea {
  height: 150px;
  padding: 8px;
  resize: vertical;
}
.inputWrapper input:focus,
.inputWrapper textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--text-color);
}
.inputWrapper label {
  position: absolute;
  left: 0;
  bottom: 0.25rem;
  color: var(--secondary-color);
  font-weight: lighter;
  pointer-events: none;
  transition: all 0.2s ease-out;
}
.inputWrapper:focus-within label,
.inputWrapper.filled label {
  transform: translateY(-1.5rem);
  font-size: 0.85rem;
  color: var(--accent-color);
  font-weight: 500;
}

.characterCount {
  font-size: var(--small-font);
  margin-top: var(--spacing-small);
}
.characterCountWarning {
  color: red;
}

/* --------------------- */
.actionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-small);
}
.actionContainer .submitButton {
  width: 100%;
  background-color: var(--cta-bg);
  color: var(--background-color);
  border: none;
  border-radius: var(--border-radius-large);
  padding: var(--spacing-small) var(--spacing-medium);
  transition: 0.3s ease;
}

.actionContainer .submitButton:hover {
  background-color: var(--cta-hover);
  transform: translateY(-2px);
  box-shadow: 0 10px 20px -10px var(--accent-color);
}

.actionContainer .submitButton:active {
  transform: scale(1);
  transition: 0.1s ease;
}

/* ------------------ */

.successMessage {
  font-size: var(--small-font);
  color: var(--text-color);
  animation: swoopIn 0.5s ease forwards;
}
.errorMessage {
  font-size: var(--small-font);
  color: red;
  margin-top: var(--spacing-small);
  animation: shake 0.3s ease;
}

/* Animations ------------- */
@keyframes glideAnimationOnce {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}
