.navbar {
  width: 100%;
  height: 64px;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  position: sticky;
  top: 0;
  left: 0;
  font-family: var(--primary-font);
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.titleLink {
  color: #1c91ff;
  text-decoration: none;
  font-size: var(--large-font);
  font-weight: bold;
  text-decoration: none;
}
.titleLink:hover {
  color: var(--secondary-text-color);
  transition: 0.2s ease;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  padding-right: var(--spacing-large);
}
.navLinks a {
  color: var(--secondary-text-color);
  font-size: var(--medium-font);
  text-decoration: none;
}
.navLinks a:hover {
  color: var(--secondary-color);
  transition: 0.2s ease;
}
.navLinks a.active {
  border-bottom: 1px solid var(--secondary-text-color);
}

.navLinks .contactLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-large);
  padding: var(--spacing-small);
  background: linear-gradient(
    270deg,
    var(--secondary-color),
    var(--secondary-text-color),
    var(--secondary-color)
  );
  background-size: 400% 400%;
  animation: var(--glide-animation) 8s ease infinite;
  border: none;
}
.navLinks .contactLink:hover {
  background-color: transparent;
  color: var(--secondary-text-color);
  box-shadow: 0 0 8px var(--secondary-color);
  transition: 0.2s ease;
}

.userActions {
  display: flex;
  gap: var(--spacing-small);
}

.menuButton {
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  padding: var(--spacing-small);
  z-index: 10;
}

.menuIcon {
  width: 16px;
  height: auto;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .menuButton {
    color: var(--secondary-text-color);
    display: flex;
    border: 1px solid var(--secondary-text-color);
  }

  .navLinks {
    width: 50%;
    height: 100vh;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: center;
    padding-top: var(--spacing-xl);
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(1000%);
    transition: 0.5s ease;
    z-index: 1;
  }
  .navLinks li {
    width: 100%;
    height: 32px;
    display: flex;
  }
  .navLinks a {
    width: 100%;
    height: 100%;
    padding: var(--spacing-small) var(--spacing-large);
    font-size: var(--base-font);
  }
  .navLinks a:hover {
    background-color: #333333;
    color: var(--secondary-text-color);
  }
  .navLinks .contactLink {
    width: 100%;
    background: var(--secondary-color);
    text-align: center;
    margin: 0 var(--spacing-medium);
  }
  .navLinks .contactLink:hover {
    background-color: var(--background-color);
    color: var(--secondary-color);
  }
  .navLinksActive {
    transform: translateX(0);
    transition: 0.5s ease;
    padding: var(--spacing-large) 0;
  }
}

@media screen and (max-width: 425px) {
  .navLinks {
    width: 100%;
  }
}
