.servicesList {
  width: 100%;
  min-height: 300px;
  flex-grow: 1;
  display: flex;
  align-items: start;
  gap: var(--spacing-large);
}

.serviceHeading {
  text-align: center;
  font-family: var(--primary-font), sans-serif;
  font-weight: 600;
}

.serviceHeading::after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--secondary-background-color);
  display: block;
  margin: 0.5rem auto 1.5rem;
  border-radius: 2px;
}

.serviceBox {
  background-color: var(--secondary-text-color);
  min-height: 300px;
  /* height: 100%; */
  flex: 1;
  text-align: start;
  padding: var(--spacing-large) var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 8px grey;
}

/* ------------------------ */
@media screen and (max-width: 950px) {
    .serviceBox{
        min-height: 375px;
    }
}
@media screen and (max-width: 768px) {
  .servicesList {
    padding: var(--spacing-medium) 0;
  }

  .serviceHeading::after {
    margin: 0.5rem auto 1.5rem;
  }

  .serviceBox {
    min-height: 0;
    width: 100%;
    padding: var(--spacing-medium);
  }
}

@media screen and (max-width: 600px) {
  .servicesList {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-large);
  }

  .serviceHeading {
    text-align: center;
  }
}
